html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
    /* The image used */
    background-image: url("https://cdn.pixabay.com/photo/2016/12/21/18/34/clouds-1923545_960_720.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {position: relative;}

footer {position: absolute; bottom: 0;}